body {
    background-color: #FEF8F2;
    font-family: "Noto Serif", serif;

}

.logo {
    display: flex;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #3E593B;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #875922;
}

.searchbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: #FEF8F2;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;

}

input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 50px;
    border: #875922 solid 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    text-align: center;
}

#button-form {
    align-items: center;
    background-color: #3E593B;
    color: #FEF8F2;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}

input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#outcome {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}
h3{
    color: #875922;
    
}

.error-message{
    color: red;
}

#map {
    display: none;
    width:400px;
    height: 400px;
    background-color: red;
}